nav {
    height: var(--navbar-height);
    position: relative;
    z-index: 999;
}

.nav-top {
    display: grid;
    grid-template-columns: 1fr var(--navbar-icon-size);
    width: 100%;
    height: var(--navbar-icon-size)
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 11vh;
}
.logo img {
    height: 100%;
}

.icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu-icon-top,
.menu-icon-middle,
.menu-icon-bottom {
    width: 50%;
    height: 6%;
    border-radius: 999px;
    background-color: black;
    transition: ease 300ms;
}

.menu-icon-top,
.menu-icon-bottom {
    content: "";
    position: absolute;
}

.menu-icon-bottom {
    transform: translateY(200%);
}

.menu-icon-top {
    transform: translateY(-200%);
}

.icon-container.active .menu-icon-middle {
    opacity: 0;
}
.icon-container.active .menu-icon-top {
    transform: rotate(45deg);
}
.icon-container.active .menu-icon-bottom {
    transform: rotate(-45deg);
}