#resrestaurant-list {
    width: 100%;
    height: 100%;
    padding: 6px;
    overflow-y: scroll;
}
#resrestaurant-list li {
    border: #EDEEEE solid 1px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 10vh 1fr 30px;
    height: 10vh;
    align-items: center;
}

#resrestaurant-list li .thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 12px;
}
#resrestaurant-list li:not(:last-child) {
    margin-bottom: 16px;
}
#resrestaurant-list li .thumbnail img{
    width: 100%;
    height: 100%;
}
#resrestaurant-list li .text-container {
    padding-left: 1rem;
}
#resrestaurant-list li .text-container .star{
    font-size: 0.7rem;
}
#resrestaurant-list li .text-container .address {
    color: #9a9a9a;
    font-size: 0.8rem;
}