.nav {
    position: relative;
    border-top: 2.5vh var(--brand-color) solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 6px;
    box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.1);
    z-index: 998;
}
.nav svg,
.nav path{
    fill: var(--brand-color);
    cursor: pointer;
}
.logoMapOpen svg,
.logoMapOpen path {
    fill: #000;
}
.logoMap svg,
.logoMap  {
    width: 6vh;
    height: 6vh;
}
.logoWrapper {
    width: 7vh;
    height: 7vh;
}
.logoWrapper img {
    height: 100%;
}